@charset "UTF-8";

@media (max-width:575.98px) {


/* basis */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	.navbar-expand-sm>.container,.navbar-expand-sm>.container-fluid{
		padding-right:0;
		padding-left:0;
	}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* basis */


/* display */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
	.table-responsive-sm{
		display:block;
		width:100%;
		overflow-x:auto;
		-webkit-overflow-scrolling:touch;
		-ms-overflow-style:-ms-autohiding-scrollbar;
	}

	.table-responsive-sm>.table-bordered{
		border:0;
	}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* display */


}
